.venv/
__pycache__/
*.pyc
.DS_Store

# local data
virtualgirlfriend.db
temp/
audio_input/
audio_output/
processed_videos/

# big AI/model files
Wav2Lip/checkpoints/
*.pt
*.onnx
*.h5

# secrets
.env
config/*.env
.venv/
